@font-face {
    font-family: 'Jedira';
    src: url('Jedira-Regular.woff2') format('woff2'),
        url('Jedira-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

